.title {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 10px;
}
/* =========MoviePage============== */
.container_Movie {
  width: 100%;
}

.movie_title {
  font-size: 32px;
  text-align: center;
  margin-bottom: 20px;
}

.poster {
  width: 350px;
  height: auto;
}

.movie_wrap {
  display: flex;
  gap: 30px;
}

.movie_pretitle {
  margin-bottom: 20px;
  margin-top: 20px;
}
.container_mini {
  display: flex;
  gap: 20px;
}
.movie_text {
  margin-bottom: 20px;
  width: 90%;
}

.reviews {
  text-align: center;
  font-size: 24px;
}

/* ============CAST============ */
.cast_title {
  font-size: 32px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10px;
}

.cast_list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: flex-start;
}
.cast_item {
  width: 200px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding-top: auto;
}
.cast_img {
  margin-top: auto;

  height: 300px;
}

/* ============REVIEWS============ */

.reviewsPage_container {
  width: 90%;
}
.reviews_title {
  font-size: 32px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10px;
}

.reviews_list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-weight: 500;
}
.reviews_item {
  list-style-type: none;
  padding-top: auto;
}
.reviews_span {
  font-weight: 700;
}
.reviews_text {
  font-weight: 400;
}
